@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

mat-form-field  {
    font-size: small;
    max-width: 100px;
    height: 50px;
}

.tool-bar
{
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: -12px 0;
}

table {
    width: 100%;
}
  
.mat-elevation-z8 mat-row:hover {
    background-color: rgba(228, 228, 228, 0.507);
    cursor: pointer;
}

.mat-column-ID {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 5% !important;
    width: 5% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.mat-column-Name {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 40% !important;
    width: 40% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
  
    word-break: break-word;
  
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}


.internalMatGrid{ 
    min-width:100%;
}

.button mat-grid-tile {
    justify-content: left !important;
    font-size: 14px;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow;
    transition-property: box-shadow;
    box-shadow: inset 0 0 0 4px lightblue, 0 0 1px rgba(0, 0, 0, 0);
}

.button mat-grid-tile:hover, .button mat-grid-tile:focus, .button mat-grid-tile:active{
    box-shadow: inset 0 0 0 1px #011c2c17, 0 0 1px rgba(0, 0, 0, 0);
}
  
.grid {
    justify-content: left !important;
}


.story-list {
    padding-left : 20px;
    max-width: 100%;
    border: solid 1px #ccc;
    min-height: 100%;
    background: white;
}
  
.story-box {
  padding: 10px 20px;
  background-color: white;
  margin: 20px;
  width: 350px ;
  height: 200px ;
  border: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 14px;
}

.example-box:last-child {
  border: none;
}

.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.storyName {
  font-size: medium;
  height: 70%;
}

.storyID {
    height: 15%;
}

.left-side {
  width:30%;
  justify-content: space-around;
  display: flex;
  flex-direction: row;
}

.top {
  width:100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.bottom {
  width:100%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
}

.storyDetail {
  border-color:solid 2px rgb(26, 88, 143);
  background: rgba(132, 198, 255, 0.527);
  border-radius: 10px;
  color: rgba(15, 15, 15, 0.74);
  padding: 4px;
  text-align: center;
  min-width: 30px;
}

.storyTag {
  border-color:solid 2px rgb(26, 88, 143);
  background: rgba(132, 198, 255, 0.527);
  border-radius: 10px;
  color: rgba(15, 15, 15, 0.74);
  padding: 4px;
  text-align: center;
}

.add-button {
  font-size: 60px;
  background-color: rgb(3, 46, 95);
  border-radius: 50%;
  color: rgb(219, 239, 255);
  cursor: pointer;
  position: fixed;
  z-index: 100;
  left: 90%;
  bottom: 10%;
}


.add-button:hover{
  color: aliceblue;
  background-color: rgb(7, 73, 150);
}

