<mat-grid-list cols="7" rowHeight="1:1" class="tool-bar">
    <mat-grid-tile colspan=1>
        <mat-form-field appearance="fill">
            <mat-label>Sprint</mat-label>
            <mat-select [(value)] = "selected">
              <mat-option *ngFor="let sprint of sprints" [value]="sprint.value">
                {{sprint.viewValue}}
              </mat-option>
            </mat-select>
        </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile class="SprintMatGrid" colspan=3>
        <div class='internalMatGrid'>
            <mat-grid-list cols="1" rowHeight="9:1">
                <mat-grid-tile rowspan=1>
                    <h4>Sprint Backlog Action</h4>
                </mat-grid-tile>
                <mat-grid-tile rowspan=2>
                    <div class='internalMatGrid button'>
                        <mat-grid-list cols="3" rowHeight="3:1" class="grid">
                            <mat-grid-tile 
                                *ngFor="let tile of tiles"
                                [colspan]="tile.cols"
                                [rowspan]="tile.rows"
                                [style.background]="tile.color">
                            <mat-icon aria-hidden="false">{{tile.icon}}</mat-icon>
                            {{tile.text}}
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
    <mat-grid-tile colspan=3>
        <div class='internalMatGrid'>
            <mat-grid-list cols="1" rowHeight="9:1">
                <mat-grid-tile rowspan=1>
                    <h4>Sprint Backlog Action</h4>
                </mat-grid-tile>
                <mat-grid-tile rowspan=2>
                    <div class='internalMatGrid button'>
                        <mat-grid-list cols="3" rowHeight="3:1" class="grid">
                            <mat-grid-tile 
                                *ngFor="let storytile of storytiles"
                                [colspan]="storytile.cols"
                                [rowspan]="storytile.rows"
                                [style.background]="storytile.color">
                            <mat-icon aria-hidden="false">{{storytile.icon}}</mat-icon>
                            {{storytile.text}}
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan=1>
        <div class='internalMatGrid'>
            <mat-grid-list cols="1" rowHeight="9:2">
                <mat-grid-tile rowspan=1>
                    <h4>Task Action</h4>
                </mat-grid-tile>
                <mat-grid-tile rowspan=2>
                    <div class='internalMatGrid button'>
                        <mat-grid-list cols="2" rowHeight="7:3" class="grid">
                            <mat-grid-tile 
                                *ngFor="let tasktile of tasktiles"
                                [colspan]="tasktile.cols"
                                [rowspan]="tasktile.rows"
                                [style.background]="tasktile.color">
                            <mat-icon aria-hidden="false">{{tasktile.icon}}</mat-icon>
                            {{tasktile.text}}
                            </mat-grid-tile>
                        </mat-grid-list>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
        </div>
    </mat-grid-tile> -->
</mat-grid-list>


<mat-grid-list cols="3" class="story-list">
    <mat-grid-tile 
        *ngFor="let story of Stories"
        [colspan]=1
        [rowspan]=1>
        <div class="story-box" (dblclick)="createEmptyStory()">
            <div class="storyID">{{story.ID}}</div>
            <div class="storyName">{{story.name}}</div>
            <div class="storyEstimate">{{story.estimate}}</div>
            <div class="storyImportance">{{story.importance}}</div>
            <div class="storyTag"> # {{story.tag}}</div>
        </div>
    </mat-grid-tile>
  </mat-grid-list>

 
<div class="row">
    <button class="btn btn-primary" (click)="createEmptyStory()">Add Story</button>
</div>

