.example-spacer {
    flex: 1 1 auto;
  }
  
.mat-toolbar-row {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}

.title{
    background-color: #345679;
}

.s-title{
    background-color: #6092c4;
}

