<div class="toolbar" role="banner">
  <mat-toolbar>

    <mat-toolbar-row class="title">
      <span>Let's Scrum!</span>
    </mat-toolbar-row>

    <mat-toolbar-row class="s-title">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Project :</span><p>OIS</p>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    
  </mat-toolbar>
</div>

<app-project-list></app-project-list>

