/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; width: 1280px; overflow: auto;}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

app-root {
    height: auto;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}


/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(184, 184, 184); 
}

